<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>"Hmmmm"</h1>
    <p> <a href="http://localhost:3000?accepted=true">Click here </a>to accept your invitation. </p>
  </body>
</html>